PWSkill Week 1 Python Assignment

In [1]:
#Q1. Create one variable containing following type of data:
#(i) string
#(ii) list
#(iii) float
#(iv) tuple

In [3]:
#Creating String Type Variable
name = "Thanendra Kashyap"

#Creating List
skills = ['C', 1, 'C++', 2, 'Java', 3, 'AWT', 4, 'Java Swing', 5, 'JDBC', 6, 'JSP', 7, 'Servlet', 8, 'C#', 9, 'ASP.NET', 10, 'HTML', 11, 'CSS', 12, 'Vanilla JavaScript', 13, 'React Js', 14]

#float Type
cgpa = 8.5

#Tuple
thistuple = ("apple", "banana", "cherry", "apple", "banana", "cherry")

In [4]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘ #String 
# (ii) var2 = ‘[ DS , ML , Python]’ # String
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] #list
# (iv) var4 = 1. #float
# What will be the data type of the above given variable.

In [5]:
var1 = '' #String
print("type of var1 is : ", type(var1))

var2 = '[ DS , ML , Python]' #String
print("type of var1 is : ", type(var2))

var3 = [ 'DS' , 'ML' , 'Python' ] #list
print("type of var1 is : ", type(var3))

var4 = 1. #float
print("type of var1 is : ", type(var4))

type of var1 is :  <class 'str'>
type of var1 is :  <class 'str'>
type of var1 is :  <class 'list'>
type of var1 is :  <class 'float'>

In [6]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **

In [18]:
#(i) / -> it is arithmetic operator used to divide numerical value and return float value as result
a = 12
b = 5
print(a, " / ", b, " is : ", a/b) #returning float value

#(ii) % -> this arithmetic operator is called Modulus operator, it always return remainder of two numerical values
a = 12
b = 5
print("remainder of ",a, "%", b, " is : ", a%b) #returning int value
a = a % b

#In other programming language we can't perform modulus operation with floating point, which can occurs an error
#but in python no error occurs 
#i.e.
print(12.5, " % ", 3, " is : ", 12.5%3)

# (iii) // -> this arithmetic operator is called Floor division, it always return integer value, firstly it divides two values then floor the results
a = 12
b = 5
print(a, " // ", b, " is : ", a//b) #returning int value

# (iv) ** -> this arithmetic operator is called Floor division, it use to power of any number
a = 2
b = 5
print(a, "^", b, " is : ", a**b)

12  /  5  is :  2.4
remainder of  12 % 5  is :  2
12.5  %  3  is :  0.5
12  //  5  is :  2
2 ^ 5  is :  32

In [19]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [20]:
lst = [10, 20, 30, "40", "50", "60", 70.1, 80.2, 90.3, 100]
for itr in lst:
    print(itr, " -> ", type(itr))

10  ->  <class 'int'>
20  ->  <class 'int'>
30  ->  <class 'int'>
40  ->  <class 'str'>
50  ->  <class 'str'>
60  ->  <class 'str'>
70.1  ->  <class 'float'>
80.2  ->  <class 'float'>
90.3  ->  <class 'float'>
100  ->  <class 'int'>

In [21]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [26]:
A = int(input('Enter value of A :'))
B = int(input('Enter value of B :'))

if A%B == 0 :
    print(A ," is purely divisible by ", B, " in ", int(A/B) , " times ")
else :
    print(A, " is not purely divisible by ", B)

Enter value of A : 10
Enter value of B : 6

10  is not purely divisible by  6

In [27]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [38]:
import random as r
lst = [r.randint(10,100) for i in range(25) ]
for i in lst:
    if i % 3 == 0 :
        print(i, " is divisible by 3")
    else :
        print(i, " is not divisible by 3")

72  is divisible by 3
30  is divisible by 3
22  is not divisible by 3
56  is not divisible by 3
84  is divisible by 3
40  is not divisible by 3
98  is not divisible by 3
51  is divisible by 3
48  is divisible by 3
54  is divisible by 3
62  is not divisible by 3
36  is divisible by 3
48  is divisible by 3
20  is not divisible by 3
91  is not divisible by 3
39  is divisible by 3
22  is not divisible by 3
74  is not divisible by 3
56  is not divisible by 3
53  is not divisible by 3
17  is not divisible by 3
57  is divisible by 3
59  is not divisible by 3
74  is not divisible by 3
86  is not divisible by 3

In [39]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [47]:
#Mutable data types are those objects whose value can be change or altered after it has been created and
#Immutable data types are those objects whose value can't be change or altered after it has been created

#Mutable data types are Lists, Dictionaries, Sets etc
#Immutable data types are tuples, string etc

#Mutable Data Type Example
lst = [10, 20, 30, 40]

#Accessing any of its element
print(lst[3])

#Iterating over for loop
for itr in lst:
    print(itr)
    
#Modifying its element 
lst[3] = 35

#After Modifying list will be
print(lst)

#List is Mutable, we can change it value

#####################################

#Immutable Data Type Example
my_str = "Hello World!"

#Accessing any of its element
print(my_str[5])

#Iterating over for loop
for itr in my_str:
    print(itr)

#Printing my string
print(my_str)

#Try to modify its element
my_str[3] = 'M' #Raise Error, because we can't modify string

#String is Immutable, we can't change it value

#We can change my_str value but it will create new object given string literals, not change the original one
#my_str = 'Assignment is Completed'

40
10
20
30
40
[10, 20, 30, 35]

H
e
l
l
o

W
o
r
l
d
!
Hello World!